*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top: 16px;
    width: 100vw;
}
body{
    overflow-x: hidden;
}
nav{
    width: 1517px;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-text{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
}

.primary-btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

#hero-section{
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("./assets/hero-bg.png");;
    background-size: cover;
    width: 100vw;
    max-width: 1600px;
    height: 100vh;
    max-height: 674px;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#hero-section p{
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;

}


#hero-section .special-btn{
    background-color: #FFFFFF ;
    padding: 8px 12px 8px 12px;
    width: 229px;
    height: 35px;
    border-radius: 100px;
    color: #469165;
}



#solution-section{
    width: 1360px;
    height: 600px;
    margin:120px 120px ;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#solution-section img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
    gap: 50px;
}


#solution-section li{
    list-style-type: none;
}
#solution-section li img{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}






#challenge-part{
    margin: 120px;
}

#challenge-part .section-heading{
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
    max-width: 1360px;

}

#challenge-part .section-heading h2,p{
    margin-bottom: 25px;
}


#card-section{
    text-align: center;
    margin: 0px auto;
}

#card-section .card-box{
    display: flex;
    margin-right: 120px;
    margin-left: 120px;
    gap: 24px;
}


#card-section .card-box .card{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000008a;
}


.card img{
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 30px solid red;
    border-radius: 50px;
}




footer{
    width: 100vw;
    height: 350px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}



footer hr{
    color: rgba(247, 241, 241, 0.952);
    height: 0px;
}

footer p{
    text-align: center;
    color: #F7F6F2;
    margin-top: 30px;
}

#footer-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

#footer-section .social-links .social-icons .linked-in{
    background-color: #FFFFFF;
    border-radius: 16px;
    width:16px;
    height: 16px;
}
#footer-section .social-links .social-icons .linked-in{
    background-color: #FFFFFF;
    border-radius: 16px;
    width:16px;
    height: 16px;
}


#footer-section .social-links .social-icons .facebook{
    background-color: #FFFFFF;
    border-radius: 15px;
    width:15px;
    height: 15px;
}

#footer-section .social-links .social-icons .twitter{
    background-color: #FFFFFF;
    border-radius: 15px;
    width:15px;
    height: 15px;
}


#footer-section .social-links .social-icons{
   display: flex;
   gap: 15px;
   padding-left: 10px;
}

#footer-section .social-links h4{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}



/* .nav-section{
    display: flex;
    justify-content: space-around;
}

.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-section img{
    width: 139px;
    height: 60px;
    margin: 8px 194px 8px 60px;
}

.primary-button-01{
    width: 122px;
    height: 42px;
    font-weight: 100;
    margin-top: 24px;
    background-color: #30B868;
    color: #FFFF;
    border-radius: 4px;
    border: none;
} */






/* .hero-section{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
} */